body {
  font-family: Ruby;
  color: white;
  background-color: #274472;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

h1 {
  text-align: center;
  position: absolute;
  top: 43%;
  left: 45%;
  padding: 0 20px;
}


.botao {
  font-weight: 0;
  font-size: 20px;
  color: #fff;
  background-color: #383556;
  padding: 14px 40px;
  font-family: Ruby;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;

  display: inline;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-align: center;
  width: 250px;
  align-self: center;
}

.botao:hover {
  transition: 1000ms;
  padding: 10px 50px;

  background-color: #fff;
  color: #000000;


}



.d2 {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 27%;
  padding: 0 30px;
  transform: translate(-50%, -50%);

}

@font-face {
  font-family: Ruby;
  src: url(../fonte/Rubik-VariableFont_wght.ttf);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  display: inline-block;
}

li {
  float: left;
  place-items: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

a {
  text-decoration: none;
}